.card{
    background-color: #07e45c;
    width: 250px;
    height: 250px;
}
.card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.card h1{
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;


}
.card img{
    border-radius: 100%;
    padding: 3px;
    background: linear-gradient(#440d69,#e2bc3e);
}
.card button{
    padding: 10px 30px;
    background: linear-gradient(135deg,#440d69,#096921);
    border: none;
    outline: none;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(123, 23, 145, 0.4);
    color: white;
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 600;
}